* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 20px;
    background-color: #8AC7DB;
}

h1,h2,h3 {
    color: #546B72;
}

.resHeader {
    margin-bottom: 20px;
}

.reservations h2 {
    margin-bottom: 10px;
}

.reservations form {
    margin: 15px 0px;
}

.submitButton {
    font-size: 25px;
    padding: 8px 40px;
} 